---
import Card from "@components/shared/Card.astro";
import { ArrowRight, Clock, Target } from "@lucide/astro";

interface Props {
  title: string;
  description: string;
  duration: number;
  numOfQuestions: number;
  difficulty: "Beginner" | "Intermediate" | "Advanced";
  quizId: string;
}

const {
  title,
  description,
  duration,
  difficulty,
  numOfQuestions,
  quizId
} = Astro.props;

let badgeStyle: string;

switch (difficulty) {
  case "Beginner":
    badgeStyle = "green";
    break;
  case "Intermediate":
    badgeStyle = "yellow";
    break;
  case "Advanced":
    badgeStyle = "red";
    break;
}
---

<article>
  <Card title={title}>
    <div class="quiz">
      <div class="quiz-header">
        <p class={`badge-${badgeStyle}`}>{difficulty}</p>
        <div class="quiz-num-questions">
          <Target /> <p>{numOfQuestions} questions</p>
        </div>
        <div class="quiz-duration">
          <Clock /> <p>{duration} min</p>
        </div>
      </div>
      <p>{description}</p>
      <a href={`/LogicLab/quizzes/${quizId}`} class="btn-primary btn-small">
        Start <ArrowRight />
      </a>
    </div>
  </Card>
</article>

<style>
  article > :global(*) {
    height: 100%;
  }

  .quiz {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    gap: var(--space-xs);
  }

  .quiz-header {
    display: flex;
    gap: var(--space-s);
  }

  .quiz-duration,
  .quiz-num-questions {
    display: flex;
    align-items: center;
    font-size: var(--text-s);
    gap: var(--space-3xs);
  }

  .quiz-duration svg ,
  .quiz-num-questions svg {
    width: 1.25em;
    height: 1.25em;
  }

  .quiz > p {
    flex: 1;
  }

  a {
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3xs);
  }

  a svg {
    width: 1.25em;
    height: 1.25em;
  }
</style>