---
import { Menu, X } from "@lucide/astro";
import appLogo from "@assets/icons/app-logo.svg?url";

export type AppPage = "home" | "editor" | "lessons" | "quizzes" | "about";

interface Props {
  currentPage: AppPage;
}

const { currentPage } = Astro.props;

const navLinks: {page: AppPage, path: string, label: string }[] = [
  { page: "home", path: "/", label: "Home" },
  { page: "editor", path: "/editor", label: "Editor" },
  { page: "lessons", path: "/lessons", label: "Lessons" },
  { page: "quizzes", path: "/quizzes", label: "Quizzes" },
  { page: "about", path: "/about", label: "About" }
]
---

<div class="header-wrapper">
  <header>
    <div class="app-logo-wrapper">
      <img class="app-logo" src={appLogo} alt="App Logo" />
      <h1 class="app-title">LogicLab</h1>
    </div>
    <nav class="header-nav">
      {navLinks.map(link => (
        <a
          href={link.path}
          aria-current={currentPage === link.page ? "page" : "false"}>
          {link.label}
        </a>
      ))}
    </nav>
    <div class="btns-container">
      <button class="btn-outline btn-small">Take Quiz</button>
      <button class="btn-primary btn-small">Get Started</button>
    </div>
    <button id="menu-btn" title="Toggle navigation menu" class="btn-ghost">
      <span class="active-icon"><Menu /></span>
      <span><X /></span>
    </button>
  </header>
  <nav id="dropdown-nav">
    {navLinks.map(link => (
      <a
        href={link.path}
        aria-current={currentPage === link.page ? "page" : "false"}>
        {link.label}
      </a>
    ))}
  </nav>
</div>

<style>
  .header-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--color-surface-primary);
    border-bottom: var(--border-thickness) solid var(--border-color);
  }

  header {
    width: 100%;
    max-width: var(--max-body-width);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-s) var(--space-xl);
    margin-left: auto;
    margin-right: auto;
  }

  .app-logo-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--space-xs);
  }

  .app-title {
    color: var(--color-text-title);
    font-size: var(--text-xl);
    font-weight: var(--weight-bold);
    margin: 0;
  }

  .app-logo {
    height: calc(var(--text-s) * 3);
    width: calc(var(--text-s) * 3);
  }

  .header-nav {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-l);
    font-weight: var(--weight-regular);
  }

  nav a {
    color: inherit;
    text-decoration: none;
  }

  nav a:hover {
    color: var(--color-text-title);
  }

  nav a[aria-current="page"] {
    font-weight: var(--weight-semibold);
    color: var(--color-text-title);
  }

  .btns-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-xs);
  }

  #menu-btn {
    display: none;
  }

  #menu-btn svg {
    width: 1.8em;
    height: 1.8em;
  }

  #menu-btn span {
    display: none;
  }

  #menu-btn span.active-icon {
    display: inline;
  }

  #dropdown-nav {
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    gap: var(--space-m);
    background-color: var(--color-surface-primary);
    padding: var(--space-m) var(--space-l);
    border-top: var(--border-thickness) solid var(--border-color);
    box-shadow: 0 4px 8px -2px #0000001a;
  }

  #dropdown-nav.active {
    display: flex;
  }

  @media (max-width: 1024px) {
    .header-nav {
      justify-content: end;
    }

    .btns-container {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .header-nav {
      display: none;
    }

    #menu-btn {
      display: flex;
    }
  }

  @media (min-width: 768px) {
    #dropdown-nav, #dropdown-nav.active {
      display: none;
    }
  }
</style>

<script>
  const menuBtn = document.getElementById("menu-btn")!;
  const dropdownNav = document.getElementById("dropdown-nav")!;

  menuBtn.addEventListener("click", () => {
    dropdownNav.classList.toggle("active");

    menuBtn.children[0].classList.toggle("active-icon");
    menuBtn.children[1].classList.toggle("active-icon");
  })
</script>