---
import Header from "@components/shared/Header.astro";
import Footer from "@components/shared/Footer.astro";
import type {AppPage} from "@components/shared/Header.astro";
import appLogo from "@assets/icons/app-logo.svg?url";

interface Props {
  page: AppPage;
  pageTitle: string;
}

const { page, pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={appLogo} />
    <link rel="stylesheet" href="/src/assets/styles/styles.css" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content=" A interactive platform for learning and experimenting with boolean expressions, truth tables and logical reasoning.">
    <title>{`${pageTitle} - LogicLab`}</title>
  </head>
  <body>
    <Header currentPage={page} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    width: 100%;
    max-width: var(--max-body-width);
    margin-left: auto;
    margin-right: auto;
  }
</style>